@media (max-width: 1260px){
    .sidepanel{
        left: 25px;
    }
}
@media (max-width: 1259px){
    .sidepanel{
        display: none;
    }
}

@media (max-width: 1200px){
    .container{
        max-width: 960px;
    }
    .about{
        &__wrapper{
            grid-template-columns: 400px 480px;
            column-gap: 30px;
            row-gap: 25px;
        }
        &__skills{
            grid-template: repeat(2, 140px)/repeat(2, 250px);
            column-gap: 40px;
        }
        &__skill{
            grid-template-columns: 40px 195px;
            column-gap: 15px;
        }
    }
    .resume{
        &__wrapper{
            padding: 60px 10px 0 10px;
            column-gap: 50px;
        }
    }
    .skills{
        &__wrapper{
            padding-top: 20px;
            grid-template-columns: repeat(3, 1fr);
        }
        &__ratings{
            margin-top: 40px;
            grid-template: repeat(3, 50px)/1fr 1fr;
            row-gap: 40px;
            &-line{
                width: 100%;
            }
        }
    }
    .portfolio{
        &__wrapper{
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-around;
            row-gap: 35px;
            .horizontal, .vertical{
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .price{
        &__wrapper{
            margin-top: 30px;
        }
    }
    .contacts{
        &__wrapper{
            padding: 0;
            grid-template-columns: 350px 585px;
        }
    }
}

@media (max-width: 992px){
    .container{
        max-width: 720px;
    }
    .title{
        font-size: 30px;
        &_fz14{
            font-size: 14px;
        }
        &_fz16{
            font-size: 16px;
        }
    }
    .about{
        &__wrapper{
            grid-template-columns: 300px 380px;
        }
        &__skills{
            grid-template-columns: 380px;
            grid-auto-rows: manmax(115,auto);
        }
        &__skill{
            grid-template-columns: 40px 300px;
            column-gap: 30px;
        }
    }
    .resume{
        &__wrapper{
            padding: 40px 15px 0 15px;
            grid-template-columns: 1fr;
        }
        &__column{
            margin-top: 40px;
        }
    }
    .skills{
        &__wrapper{
            padding-top: 20px;
            grid-template-columns: repeat(3, 3fr);
        }
        &__ratings{
            margin-top: 40px;
            grid-template: repeat(6, 50px)/1fr 1fr;
            row-gap: 40px;
            &-line{
                width: 100%;
            }
        }
    }
    .price{
        &__wrapper{
            margin-top: 30px;
            padding: 0 30px;
            grid-template-columns: repeat(2,300px);
        }
    }
    .contacts{
        padding-top: 60px;
        &__wrapper{
            padding-left: 50px;
        }
        &__photo{
            display: none;
        }
    }
}

@media (max-width: 768px){
    .container{
        max-width: 540px;
    }
    .title{
        &_fz48{
            font-size: 28px;
        }
    }
    .promo{
        &__title{
            line-height: 39px;
            width: 300px;
        }
    }
    .about{
        padding-top: 40px;
        &__wrapper{
            grid-template: 400px auto auto / 100%;
        }
        &__photo{
            grid-row: unset;
        }
        &__skills{
            grid-template-columns: repeat(2, 260px);
            column-gap: 20px;
        }
        &__skill{
            grid-template-columns: 30px 200px;
            column-gap: 15px;
        }
    }
    .resume{
        &__wrapper{
            padding: 40px 15px 0 15px;
            grid-template-columns: 1fr;
        }
        &__column{
            margin-top: 10px;
        }
    }
    .skills{
        &__wrapper{
            padding-top: 20px;
            grid-template-columns: repeat(2, 2fr);
        }
        &__ratings{
            margin-top: 40px;
            grid-template: repeat(3, 50px)/1fr 1fr;
            row-gap: 40px;
            &-line{
                width: 100%;
            }
        }
    }
    .price{
        &__wrapper{
            margin-top: 30px;
            grid-template-columns: repeat(1,1fr);
        }
    }
    .contacts{
        padding-top: 60px;
        &__wrapper{
            padding-left: 50px;
        }
        &__photo{
            display: none;
        }
        &__descr{
            width: 300px;
        }
        &__form{
            display: flex;
            flex-direction: column;
        }
        &__input{
            height: 45px;
        }
        &__textarea{
            height: 143px;
        }
        &__triggers{
            display: flex;
            flex-direction: column;
        }
        &__policy{
            order: 1;
        }
        &__btn{
            order: 2;
        }
    }
}

@media (max-width: 576px){
    .container{
        width: 100%;
        padding: 0 10px;
    }
    .title{
        font-size: 24px;
        &_fz48{
            font-size: 28px;
        }
        &_fz16{
            font-size: 16px;
        }
        &_fz14{
            font-size: 14px;
        }
    }
    .menu{
        &__block{
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo{
        background: url(../img/main_bg.jpg) no-repeat 57%/cover;
        &__btns{
            margin-top: 30px;
        }
    }
    .about{
        &__skills{
            grid-template-columns: 1fr;
        }
        &__skill{
            grid-template-columns: 30px 220px;
            column-gap: 30px;
        }
    }
    .resume{
        padding-top: 40px;
        &__wrapper{
            padding: 20px 15px 0 15px;
            grid-template-columns: 1fr;
        }
        &__column{
            margin-top: 10px;
        }
    }
    .skills{
        padding-top: 45px;
        .divider{
            margin-top: 15px;
        }
        &__title{
            line-height: 36px;
        }
        &__wrapper{
            padding-top: 20px;
            grid-template-columns: 1fr;
        }
        &__ratings{
            margin-top: 40px;
            grid-template: repeat(6, 50px)/1fr;
            row-gap: 40px;
            &-item{
                row-gap: 20px;
            }
            &-line{
                width: 100%;
            }
        }
    
    }
    .portfolio{
        padding-top: 60px;
        &__wrapper{
            margin-top: 40px;
        }
        .divider-center{
            margin-top: 10px;
        }
    }
    .price{
        &__wrapper{
            margin-top: 40px;
            padding: 0 10px;
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .contacts{
        padding-top: 60px;
        &__wrapper{
            padding: 0;
        }
        &__photo{
            display: none;
        }
        &__descr{
            width: 300px;
        }
        &__form{
            display: flex;
            flex-direction: column;
        }
        &__input{
            height: 45px;
        }
        &__textarea{
            height: 143px;
        }
        &__triggers{
            display: flex;
            flex-direction: column;
        }
        &__policy{
            order: 1;
        }
        &__btn{
            order: 2;
        }
    }
}